:root {
    --color-default: #191919;
    --color-second: #333333;
    --color-white: #fff;
    --color-gray-one: #4C4C4C;
    --color-gray-two: #B3B3B3;
    --color-gray-three: #E6E6E6;
    --color-light: #E6E6E6;
    --color-red: #ff0000;
  
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
}

.main {
    position: absolute;
    width: calc(100% - 78px);
    padding: 22px 20px 20px 35px;
    left: 78px;
    height: 100%;
    transition: all .3s ease;
}

.main.open {
    width: calc(100% - 250px);
    left: 250px;
}

.main-container {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 20px;
}

.title{
    margin-bottom: 1.5rem;

}

.title h2{
    font-size: 1.9rem;
    font-weight: 700;
    color: #2d2b2b;
    letter-spacing: 1px;
    transition: all .8s ease;
    transform: translateX(2px);
}

.title p{
    font-size: 1.1rem;
    font-weight: 650;
    color: #312d2daf;
    transition: all 1s ease;
    transform: translateX(2px);
}

.title img{
	height: 85px;
	width: 85px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
	position: absolute;
	top: 28px;
	right: 41%;
}

.orders {
    background: #ffffff;
    border-radius: 5px;
}

.orders .card-header,
.orders .card-body,
.title,
.graph h3
 {
    padding-bottom: 1.5rem;
}

.orders .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header button {
    background: transparent;
    /* border: 1px; */
    /* outline: none; */
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    position: relative;
}

table {
    border: 1px solid #ccc;
    width: 100%;
}

thead tr {
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}

.stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background: #fff;

}

.stats h4{
    grid-column: 1 / -1;
    /* padding-bottom: 1rem; */
    font-size: 1.2rem;
    font-weight: 700;
    color: #2d2b2b;
    letter-spacing: 1px;
    transition: all .8s ease; 
}

.main .info-data .card {
	padding: 20px;
  height: 140px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 14px 16px 16px 16px rgba(0, 0, 0, .02);
}

.card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
    transform: translateY(-5px);
	transition: all .3s ease;
}

.main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.main .card .head h2 {
	font-size: 24px;
	font-weight: 600;
}
.main .card .head p {
	font-size: 14px;
  word-wrap: break-word;
  width: 80%;
}
.main .card .head .icon {
	font-size: 20px;
	color: var(--color-white);
}
.main .card .head .icon.down {
	color: var(--red);
}

.main .card .stat{
  border-radius: 10px;
  width: 100%;
  padding: 12px;
  background-color: #1e1d1d27;
  position: relative;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  cursor: pointer;
}

.stat .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  background-color: #1e1d1d;
  margin-right: 10px;
  /* position: absolute; */
}

.card:nth-of-type(1) .circle,
.card:nth-of-type(4) .circle{
    background-color: #e1b856;
}

.card:nth-of-type(1) .stat,
.card:nth-of-type(4) .stat{
    background-color: #fcf9ec;

}

.card:nth-of-type(2) .circle,
.card:nth-of-type(3) .circle{
    background-color: #8ca374;    ; 
}

.card:nth-of-type(2) .stat,
.card:nth-of-type(3) .stat{
    background-color: #f4f6f1;
}

.stat .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  line-height: 0.4;
  position: absolute;
  left: 7rem;
}

.stat .content h4,
.stat .content p {
  line-height: 1;
  
}

.main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: var(--grey);
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
.main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--blue);
	width: var(--value);
}
.main .card .label {
	font-size: 14px;
	font-weight: 700;
}

@media screen and (max-width: 1460px) {
    .main-container {
        grid-template-columns: 3fr 1fr;
    }

    .stats {
        grid-template-columns: 1fr;
    }

	.title img{
		right: 31%;
	}
    
}

@media screen and (max-width: 1170px) {
    .main-container {
        grid-template-columns: 1fr;
    }
    
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }

	.title img{
		right: 8%;
	}
}