@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f3f3f3;
  /* display: flex; */
  font-size: 16px;
}
h3 {
  font-size: 18px !important;
}
#main {
  position: relative;
  height: 100%;
  top: 60px;
  left: 76px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  /* background-color: #353c4e; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#main.open {
  width: calc(100% - 250px);
  left: 250px;
}

.wrapper {
  margin-left: 5px;
  width: 98%;
  display: flex;
  border-radius: 30px;
  box-shadow: 0 0px 10px -5px rgb(0, 0, 0);
  margin-top: 28px;

  /* Prevents scroll bars */
  /* overflow: hidden;  */
}

.wrapper .left {
  height: 85vh;
  /* background-image: url('https://i.imgur.com/cMy8V5j.png'); */

  width: 30%; /* Adjusted left section width */
  background-color: #000000;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 3% 2%;
  color: #fff;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  text-align: center;
}

.wrapper .left-part {
  align-items: center;
  justify-content: center;
}

.wrapper .left img {
  border-radius: 20px;
  margin-bottom: 10px;

  /* Adjusted photo size */

  width: 100%;
  height: 250px;
  background-size: cover;

  box-shadow: -5px 0px 50px -30px rgb(255, 255, 255);
  border: 2px solid white;
}
.profile-name,
.profession {
  font-size: 27px;
  letter-spacing: 1.5px;
}

.edit-icon {
  position: relative;
  border-radius: 50%;
  margin-top: 20px;
}

.edit-icon input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-icon label {
  display: inline-block;
  padding: 7px 15px;
  padding-top: 9px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 20%;
}

.edit-icon input[type="file"]:hover + label {
  background-color: white;
}
.edit .link_name {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  /* font-weight: bold; */
}
.edit-icon .edit-icon .bxs-edit {
  padding-top: 5px;
  font-size: 25px;
}
.edit-icon a .link_name:hover {
  text-decoration: underline;
}
.change_image {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border-color: white;
  background-color: black;
  color: white;
  font-weight: bold;

  transition: 0.3s ease-in-out;
}
.change_image:hover {
  border-color: black;
  background-color: white;
  color: black;
}
.wrapper .left h4 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.wrapper .right {
  height: 85vh;
  width: 70%; /* Adjusted right section width */
  background: #fff;
  padding: 1% 5%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 0.8em;
  position: relative;
  align-items: center;
  justify-content: space-between;
  /* overflow-y: auto;  */
  /* Enable scroll if needed */
}

.right .info {
  margin-top: 20px;
}

.pro_input {
  border-radius: 10px;
  border: 1px solid gray;
  /* background-color: #f3f3f3; */
}
.pro_input:focus {
  border-color: #e0e0e0;
  border: 1px solid gray;
}
.wrapper .right .info h3 {
  /* margin-bottom: 10px; */
  padding-bottom: 5px;
  color: #353c4e;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-size: 1.2em;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 48%;
  margin-bottom: 15px;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  /* color: #353c4e; */
  margin-bottom: 5px;
  font-size: 1.1em;
}

.wrapper .right .info_data .data h3,
.wrapper .right .projects_data .data h3 {
  font-size: 1em;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .right .info_data .data input,
.wrapper .right .projects_data .data input,
.wrapper .right .projects_data .pro_name input {
  /* position: absolute; */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.9em;
  margin-bottom: 0px;
  outline: none;
  border: 1px solid gray;
  transition: border-bottom 0.3s ease-in-out;
}
.wrapper .right .info_data .data input:focus,
.wrapper .right .projects_data .data input:focus,
.wrapper .right .projects_data .pro_name input:focus {
  /* border-bottom: 2px solid #000000; */
  transition: all 0.3s ease-in;
  border-bottom-width: 2px;
}

/* password hide  */
.info .hide {
  color: #bbb;
  font-size: 1.35rem;
  transition: 0.4s;
}

.info .hide:hover {
  color: #555555;
  cursor: pointer;
}
.hide-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-icon {
  font-weight: 600;
  margin-top: 3px;
  font-size: 1.2rem;
  margin-left: 5px;
}

.wrapper .right .pro_button {
  display: flex;
  justify-content: flex-start; /* Adjusted to left-align buttons */
  margin-top: 5px;
  margin-bottom: 7px;
}

#last-element {
  display: flex;
  align-items: center;
}

.wrapper .right .pro_button .discard_btn,
.wrapper .right .pro_button .save_btn {
  height: 45px;
  width: 130px;
  padding: 8px 12px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  border-radius: 40px;
  transition: 0.5s ease;
}

.wrapper .right .pro_button .discard_btn:hover {
  background-color: #f10800;
}
/* .wrapper .right .pro_button .save_btn:hover {
  background-color: #00af35;
} 
*/

.wrapper .right .pro_button .discard_btn {
  background-color: #bb0701;
  color: #fff;
}

.wrapper .right .pro_button .save_btn {
  background-color: #000000;
  color: #fff;
}

.ltor-button:hover {
  border: 2.5px solid #bb0701 !important;
  span {
    color: #bb0701 !important;
  }
}

.info .data-error {
  color: #bb0701;
  font-weight: bold;
}
.left-part .image-error {
  margin-top: 10px;
  color: #bb0701;
  font-weight: bold;
}
.info .no-change {
  font-size: 15px;
  margin-bottom: 50px;
  color: rgb(33, 163, 33);
  font-weight: bold;
}

/* Responsive design */
@media screen and (min-width: 1300px) and (min-height: 1100px) {
  .wrapper .left,
  .wrapper .right {
    width: 30% 70%;
    height: 100%;
  }
}

@media screen and (min-width: 1550px) {
  .wrapper .left,
  .wrapper .right {
    width: 30% 70%;
    height: 88vh;
  }
  .wrapper .right .info_data .data label {
    font-size: 1.5em;
    margin-bottom: 50px;
  }

  .wrapper .right .info .h3 {
    margin-top: 50px;
  }
}
