@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}

body{
  min-height: 100vh;
  /* background: url('../../images/customer/bg.png') center / cover; */
}

#main {
  position: fixed;
  top: 78px;
  width: calc(100% - 80px);
  height: max-content;
  left: 64px;
  margin-left: 20px;
  transition: all 0.5s ease;
  z-index: 2;
  border-radius: 50px;
}


#main.open {
  left: 250px;
  width: calc(100% - 250px);
}

.breadcrumb {
  list-style-type: none;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  flex-wrap: wrap;
  padding: 0;
  margin: 16px 35px;
}
.breadcrumb li a {
  text-decoration: none;
  color: grey;
}

.breadcrumb li a.active {
  color: black;
  /* font-weight: bold; */
  font-size: 17px;
}

.breadcrumb .bx-chevron-right {
  font-size: 25px;
}

#main form {
  top: 64px;
  padding-bottom: 10px;
}

form .form-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  top: 7.6%;
}

form .form-input input {
  width: 200px;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: rgb(255, 255, 255);
  outline: none;
  border-radius: 36px 0 0 36px;
  box-shadow: 0px 0px 10px 0px rgb(187, 184, 184);
  margin-left: 37px;
  margin-right: 0;
  transition: 0.3s ease;
}

form .form-input input:focus {
  width: 300px;
}

form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgb(187, 184, 184);
  transition: 0.3s ease;
}

form .form-input button:hover {
  /* background: rgb(236, 236, 236); */
  font-size: 20px;
  /* color: black; */
}

.form-group {
  position: relative;
  left: 3%;
  width: 10%;
  background: #d5dfe7d5;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 30px;
  transition: all 0.3s ease;
  color: var(--dark);
}

.form-group:focus {
  box-shadow: 0 0 0 1px var(--dark);
  width: 20%;
}

.icon-button {
  position: relative;
  right: 0.8rem;
  top: 0.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.form .icon {
  font-size: 1.2rem;
}

.btn {
  color: var(--red);
  left: 82%;
}

.ok-btn {
  position: absolute;
  background: var(--blue);
  left: 85%;
  top: 93%;
  padding: 10px 30px;
}

.new-btn {
  color: var(--blue);
  left: 71%;
}

.btn, 
.view-order-btn, 
.pay-btn, 
.ok-btn,
.new-btn {
  position: absolute;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  padding: 0.5% 1%;
  /* left: 57%; */
  top: 9%;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  font-weight: bolder;
  /* margin: 2% 1%; */
  box-shadow: 2px 2px 11px -5px var(--color-default);
}

.btn:hover,
.new-btn:hover {
  text-decoration: underline;
}

table{
  position: absolute;
  margin-top: 20px;
}

.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.table-header p{
    color: #000000;
}

td button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    padding: 3% 4%;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    font-weight: bolder;
    margin: 2% 1%;

    box-shadow: 2px 2px 11px -5px var(--color-default);
}

td button:nth-child(1){
    color: #0239cf;
    
}

td button:nth-child(2){
    color: #7a0ae9;
}

.add_new{
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0298cf;
}

input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #393a3b22;
    border-radius: 6px;
    color: #0c1c22;
}

.table-section{
    height: 650px;
    overflow: auto;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #585b5f;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
    align-items: center;
}

td{
  box-sizing: border-box;
}

td img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #ced0d2;
}

tr.hide{
  opacity: 0;
  transform: translateX(100%);
  line-height: 0;
}

tr.hide td{
  padding: 0;
  height: 0;
  border: none;
  margin: 0;
  border-bottom: none;
}

tr.hide td *{
  visibility: hidden;
}



tr:hover{
    color: #1f2122;
    cursor: pointer;
    background-color: #f6f9fc;
}

.st {
  padding: 0%;
  margin-left: 2%;
  width: 20px;
}

.text-status {
  background-color: rgb(70, 222, 100);
  border-radius: 20px;
  width: fit-content;
  padding: 2% 13%;
  margin-left: 20%;
}

.popup-view, 
.popup-new, 
.popup-report {
  position: absolute;
  height: fit-content;
  width: 45%;
  background: #ffffff;
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 0 1px #1b1c1d, 0 0 0 4px #292e3542;
  visibility: hidden;
  transition:  none .3s;
  justify-content: center;
}

.popup-view{
  width: 45%;
  top: 63%;
  bottom: 20%;
}

.popup-new{
  width: 55%;
  top: 65%;


}

.open-popup-view,
.open-popup-new,
.open-popup-report {
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
}

.popup-report h2,
.popup-new h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  margin: 4px;
  font-weight: bold;
}

.new-form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 19px -2px 12px 38px;
}

.new-form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
  overflow: hidden;
}



.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box .size {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 0;
  width: 20%;
}

.popup-new .user-details .sizeChart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
}

.user-details .input-box input,
select {
  width: 80%;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  margin-left: 10px;
  font-size: 15px;
  transition: all 0.3s ease-in;
  border-bottom-width: 2px;
}



.list-section {
  margin: 0 auto;
  /* max-width: 800px; */
  padding: 0 20px;
  background-color: var(--light);
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  display: flex;
}

.list-section__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  /* text-align: center; */
  color: var(--blk);
}

/* .product-container {
  display: flex;
} */

.flex-half {
  flex: 1;
  padding: 0 20px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.carousel span{
  font-size: x-large;
}

.carousel-left-btn,
.carousel-right-btn {
  background-color: var(--light);

  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-left-btn:hover,
.carousel-right-btn:hover {
  color: var(--primary);
}


.carousel-image {
  width: 400px;
  height: 400px;
  min-width: 400px;
  min-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0.5rem;
}

.image-count {
  font-size: 1.2rem;
  /* font-weight: bold; */
  text-align: center;
  /* margin-top: 10px; */
}

.detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

}

.detail-item label {
  font-size: 1rem;

}

.detail-item span {
  font-size: 1rem;
  /* font-weight: 500; */
}

#image-form {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*  */
#drop_zone {
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* border: 1px solid black; */
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  color: var(--blk);
}

#drop_zone:hover {
  border: 1.5px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
}


#preview {
  display: none;
  max-width: 300px;
  max-height: 300px;
  /* min-width: 300px;
  min-height: 300px; */
  /* padding: 1rem; */
  object-fit: cover;
  text-align: center;
  /* background-color: white; */

}

.delete-image-btn {
  font-size: 2rem;
  color: var(--blk);
  cursor: pointer;
  text-align: center;
  margin: 0.5rem;
}

.delete-image-btn:hover {
  color: var(--danger);
}
/*  */

.iconify{
  font-size: 1.5rem;
  color: #000;
}


.popup-new .btns{
  position: relative;
  left: 40%;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.popup-new .close-btn,
.popup-new .cancel-btn{
    /* position: relative; */
  /* right: 1%; */
  font-size: 16px;
  color: var(--red);
  /* cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: #000;
  border: none;
  background: var(--red); */
  margin-left: 15px;

  position: absolute;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 1% 3.8%;
  /* left: 57%; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-weight: bolder;
  /* margin: 2% 1%; */

  box-shadow: 2px 2px 11px -5px var(--color-default);
}

.popup-new .cancel-btn {
  right: 29%;
  color: var(--blue);
}

.cancel-btn:hover,
.close-btn:hover {
  text-decoration: underline;
}

.popup-report h4{
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}

.popup-report input,
textarea {
  position: relative;
  left: 9%;
  width: 80%;
  background: #f0f0f0;
  border-radius: 10px;
  border-style: solid;
  border: #000;
  outline-width: 1px;
  padding: 10px 30px;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  color: var(--dark);
}

.popup-report .btns {
  position: relative;
  left: 40%;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.popup-report .close-btn,
.cancelR-btn {
  /* position: relative; */
  /* right: 1%; */
  font-size: 16px;
  color: var(--red);
  /* cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: #000;
  border: none;
  background: var(--red); */
  margin-left: 15px;

  position: absolute;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 1% 3.8%;
  /* left: 57%; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-weight: bolder;
  /* margin: 2% 1%; */

  box-shadow: 2px 2px 11px -5px var(--color-default);
}

.popup-report .cancelR-btn {
  right: 29%;
  color: var(--blue);
}

.cancelR-btn:hover,
.close-btn:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(43 43 43 / 76%);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.popup-view h2{
  text-align: center;
  padding-top: 1%;
  /* margin: 20px; */
}

.popup-view .sizeChart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
}

.popup-view .sizeChart span{
  margin-left: 0;
}

.popup-view .size{
  margin-left: 20%;
}

.close-icon a {
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 0%;
  position: absolute;
  left: 96%;
  cursor: pointer;
  color: #ff000092;
  font-size: 26px;
  text-decoration: none;
}


/* .container1 {
  width: 100%;
  background: #ffffff;
  padding: 32px 13px;
  border-radius: 15px;
  margin-left: 1%;
  overflow: hidden;
} */

.container1 .emptitle {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container1 .emptitle::before {
  content: "";
  position: absolute;
  left: 285px;
  bottom: 11px;
  height: 4px;
  width: 50px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* student form details  */

form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 19px -2px 12px 38px;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
  overflow: hidden;
}

form .user-details .input-box .addr {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box .size {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 8%;
  width: 20%;
}

form .sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button.pay {
  position: relative;
  width: 48px;
  height: 31px;
  top: -38px;
  right: -239px;
  background: #50cf3ef7;
  border: lightgreen;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

button.pay:hover {
  background: #3bec24;
  transform: scale(1.1);
}

/* .user-details .input-box input,
select {
  width: 80%;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 15px;
  transition: all 0.3s ease-in;
  border-bottom-width: 2px;
} */

.popup-view .pb{
  position: relative;

  font-size: 14px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 10px 20px;
  color: var(--light);
  left: 55%;
  overflow: hidden;
  transition: all .3s ease;
  border-radius: 6px;
  font-weight: 600;
  /* margin-bottom: 12px; */
  border: none;
}

.popup-view .update-btn {
  /* right: 20%; */
  background: var(--blue);
}

.popup-view .update-btn:hover {
  background: darkblue;
}

.popup-view .cancel-btn {
  /* right: 3%; */
  background: var(--red);
}

.popup-view .cancel-btn:hover {
  background: darkred;
}

/* @media screen and (max-width: 950px) {
  .btn,
  .desc,
  .cost{
    visibility: hidden;
    empty-cells: hide;
  }
}

@media screen and (min-width: 950px) {
  .btn{
    float: left;
    right: 5%;
    overflow: hidden;
    
  }
} */

