#main {
    /* margin-left: 100px; */
    position: fixed;
    top: 78px;
    left: 100px;
    width: calc(100% - 78px);
    height: 100%;
    transition: all .5s ease;
    z-index: 2;
    margin: 5px;
  }

  .main-class{
    background-color: rgb(167, 167, 167);
    height: 100vh;
    width: 95%;

  }