@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  /* background-color: rgb(236, 236, 236); */
}

.erro_page {
  position: relative;
  width: max-content;
  align-self: center;
  justify-self: center;
  margin: auto;
  margin-top: 50px; 
  /* margin-bottom: 100px;  */
}

p {
  display: flex;
  font-weight: 800;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

a {
  width: 150px;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 5px;
  background: black;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white !important;
  transition: 0.5s ease;
}
img{
  height: 400px;
}