@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}

body {
  background: rgb(240, 240, 250);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #f5f5f5;
border-radius: 5px;
}
::-webkit-scrollbar-thumb {
background: rgba(0,0,0);
border-radius: 5px;
}

#main {
  position: absolute;
  top: 64px;
  width: calc(100% - 78px);
  height: max-content;
  left: 78px;
  /* padding-left: 20px; */
  transition: all 0.5s ease;
  z-index: 2;
  border-radius: 50px;
  scroll-behavior: smooth;
}


#main.open {
  left: 250px;
  width: calc(100% - 250px);
}

.success-msg {
  width: 100%;
  display: none;
  background: rgb(42, 193, 42);
  padding: 7px;
  text-align: center;
  font-weight: bold;
  z-index: 3;
  position: fixed;
  transition: all 0.5s ease-in-out;
}

.breadcrumb {
  list-style-type: none;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  flex-wrap: wrap;
  padding: 0;
  margin: 16px 35px;
}
.breadcrumb li a {
  text-decoration: none;
  color: grey;
}

.breadcrumb li a.active {
  color: black;
  /* font-weight: bold; */
  font-size: 17px;
}

.breadcrumb .bx-chevron-right {
  font-size: 25px;
}

#main .content{
    display: grid;
    grid-template-columns: 65% 1fr;
    padding: 20px;
    column-gap: 30px;
}

#main .content .map,
.current-orders .map{
    /* grid-column: 1 / 3; */
    /* width: 60%; */
    padding: 15px;
    height: 34rem;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgb(161, 161, 161, 0.5);
    color: #000000;
}

.current-orders .map{
    height: 25rem;
}


#main .content .orders{
    /* grid-column: 3 / 4; */
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
    height: fit-content;
    max-height: 38rem;
    scroll-behavior: smooth;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgb(161, 161, 161, 0.5);
    color: #000000;
}

#main .content .orders .order,
.current-orders .order{
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: inset 0 0 10px 0px rgb(161, 161, 161, 0.5);
    transition: all 0.3s ease-in-out;
}

.order .close{
  position: static;
  align-self: center;
  margin-right: 20px;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 0px 0.6rem;
}

.current-orders .order .close{
  padding: 2px 4px;
}

.order .close::after{
  border-radius: 50%;
  border: 1px solid #000;
}

.order input{
  border: none;
}

.order input:focus{
  outline: none;
}

.orders button{
    outline: none;
    /* border: none; */
    border-radius: 6px;
    cursor: pointer;
    /* padding: 10px; */
    background-color: #000000f1;
    color: white;
    border: none;
    padding: 4px 9px;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 15px;
    font-weight: 200;
    /* margin: 2% 1%; */
    /* box-shadow: 2px 2px 11px -5px var(--color-default);*/

    /* background-color: rgb(240, 240, 250); */
    font-size: 14px;
    /* font-weight: bolder; */
    margin: 2% 1%;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.521);
    transition: all 0.3s ease-in-out;
}



.orders select{
  padding: 6px;
  border-radius: 8px;
}

.emp-details {
  border: 1px solid #000000;
  border-radius: 15px;
  line-height: 2;
  padding: 10px;
  display: grid;
  grid-template-columns: 80% 1fr;
  box-shadow: inset 0 0 10px 0px rgb(161, 161, 161, 0.5);
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.emp-details span{
  font-style: normal;
  /* font-weight: normal; */
  color: #4a4949;
}

.emp-details .icon{
  font-size: 2rem;
  align-self: center;
}

.current-orders{
  grid-column: 1/-1;
}

.current-orders .header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px;
  height: fit-content;
  max-height: 34rem;
  border: 1px solid #727070 ;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgb(93, 90, 90);
  box-shadow: 0 0 20px 0px rgba(161, 161, 161, 0.955);
  color: #000000;
}

.header h4{
  color: #fff;
}

.current-orders .orders-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 10px;
}

.current-orders .order{
  padding: 15px;
  height: fit-content;
  max-height: 34rem;
  border-radius: 15px;
  border: 1px thick #000;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 20px 0px rgb(161, 161, 161, 0.5);
  color: #000000;
}

.error{
  color: red;
  font-size: 14px;
  position: relative;
  left: 1%;
  /* visibility: hidden; */
  
}


.popup-view{
  position: fixed;
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.popup-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px 35px 40px 56px;
  border: 1px solid #888;
  width: 65%; 
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
  max-height: 85%;
}


.close {
  color: #aaa;
  position: absolute;
  right: 350px;
  font-size: 28px;
  font-weight: bold;
}


.close:hover{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-new h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  margin: 4px;
  font-weight: bold;
}


textarea{
  position: relative;
  left: 2px;
  width: 96%;
  background: #d5dfe7d5;
  border-radius: 5px;
  border-style: solid;
  border: #000;
  outline-width: 1px;
  padding: 10px 30px;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  color: var(--dark);
}

.popup-view h2{
  text-align: center;
  padding-top: 1%;
  margin: 20px;
}

.popup-view .pb{
  position: relative;
  bottom: 4px;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* transform: scale(0.9); */
}

.popup-view .pb:hover{
  /* transform: scale(1); */
  font-size: 17px;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}

.popup-view .update-btn:hover{
  background: green;
}