@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
}

body{
  min-height: 100vh;
  background: rgb(240, 240, 250);
  scroll-behavior: smooth;
  /* background: url('../../images/customer/bg.png') center / cover; */
}

#main {
  position: absolute;
  top: 78px;
  width: calc(100% - 80px);
  height: max-content;
  left: 64px;
  margin-left: 20px;
  transition: all 0.5s ease;
  z-index: 2;
  border-radius: 50px;
  scroll-behavior: smooth;
}


#main.open {
  left: 250px;
  width: calc(100% - 250px);
}

.breadcrumb {
  list-style-type: none;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  flex-wrap: wrap;
  padding: 0;
  margin: 16px 35px;
}
.breadcrumb li a {
  text-decoration: none;
  color: grey;
}

.breadcrumb li a.active {
  color: black;
  /* font-weight: bold; */
  font-size: 17px;
}

.breadcrumb .bx-chevron-right {
  font-size: 25px;
}

#main form {
  top: 64px;
  padding-bottom: 10px;
}

form .form-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
}

form .form-input input {
  width: 200px;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: rgb(255, 255, 255);
  outline: none;
  border-radius: 36px 0 0 36px;
  box-shadow: 0 0px 20px 0px rgb(161, 161, 161);
  margin-left: 37px;
  margin-right: 0;
  transition: 0.3s ease;
}

form .form-input input:focus {
  width: 300px;
}

form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
  box-shadow: 0 0px 20px 0px rgb(161, 161, 161);
  transition: 0.3s ease;
}

form .form-input button:hover {
  /* background: rgb(236, 236, 236); */
  font-size: 20px;
  /* color: black; */
}

.form-group {
  position: relative;
  left: 3%;
  width: 10%;
  background: #d5dfe7d5;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 30px;
  transition: all 0.3s ease;
  color: var(--dark);
}

.form-group:focus {
  box-shadow: 0 0 0 1px var(--dark);
  width: 20%;
}

.icon-button {
  position: relative;
  right: 0.8rem;
  top: 0.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.form .icon {
  font-size: 1.2rem;
}


.ok-btn {
  position: absolute;
  background: var(--blue);
  left: 85%;
  top: 93%;
  padding: 10px 30px;
}

.new-btn {
  right: 30px;
}

.view-order-btn, 
.pay-btn, 
.ok-btn,
.new-btn {
  position: absolute;
  top: 51px;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transform: scale(0.9);
}

.btn:hover,
.new-btn:hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}



td button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    padding: 3% 4%;
    text-align: center;
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 16px;
    font-weight: bolder;
    margin: 2% 1%;

    box-shadow: 2px 2px 11px -5px var(--color-default);
}

/* td button:nth-child(1){
    color: #0239cf;
    
}

td button:nth-child(2){
    color: #7a0ae9;
} */

.add_new{
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0298cf;
}

input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #393a3b22;
    border-radius: 6px;
    color: #0c1c22;
}

.table-section{
    
    overflow: auto;
    box-shadow: 0 0px 20px 0px rgb(161, 161, 161);
    border-radius: 20px;
    background: ghostwhite;
    margin: 19px 32px;
    overflow-x: auto;
    border: black 1px solid;
}

table{
    width: 100%;
    position: relative;
    min-width: 1000px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}


.table-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: rgb(240, 240, 240);
}

.table-header p{
  color: #000000;
}

thead th{
   
    padding-top: 17px;
    color: #000000;
    font-size: 15px;
    border-bottom: 1px solid black;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
    align-items: center;
}

td{
  box-sizing: border-box;
}

td img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #ced0d2;
}

tr.hide{
  opacity: 0;
  transform: translateX(100%);
  line-height: 0;
}

tr.hide td,
tr.hide td button,
tr.hide td div{
  padding: 0;
  height: 0;
  border: none;
  margin: 0;
  border-bottom: none;
}

tr.hide td *{
  visibility: hidden;
}


tbody tr:hover{
  cursor: pointer;
  background-color: #0298cf0d;

  transition: all 0.3s ease-in-out;
}

.st {
  padding: 0%;
  margin-left: 2%;
}

.text-status {
  display: inline-block;
  color: #fff;
  
  border-radius: 12px;
  padding: 2px 12px;
  font-size: 1em;
  margin-left: 10%;
}

.text-status.processing{
  background-color: #3bec24;
}

.text-status.delivering{
  background-color: #0c5fcd;
}

.popup-view, 
.popup-new, 
.popup-report {
  position: absolute;
  height: fit-content;
  width: 45%;
  background: #ffffff;
  /* margin-top: 3%; */
  /* margin-bottom: 3%; */
  top: 58%;
  left: 50%;
  transform: translate(-50%, -60%) scale(0);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 0 1px #1b1c1d, 0 0 0 4px #292e3542;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  justify-content: center;
}

.popup-view{
  width: 55%;
  top: 83%;
  bottom: 20%;
}

.open-popup-view,
.open-popup-new,
.open-popup-report {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 101;
}

.popup-report h2,
.popup-new h2 {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;
  margin: 4px;
  font-weight: bold;
}

.popup-report h4,
.popup-new span {
  text-align: left;
  padding-left: 10%;
  padding-bottom: 2%;
}

.popup-report input,
.popup-new input,
textarea {
  position: relative;
  left: 9%;
  width: 80%;
  background: #d5dfe7d5;
  border-radius: 20px;
  border-style: solid;
  border: #000;
  outline-width: 1px;
  padding: 10px 30px;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  color: var(--dark);
}

.popup-report .btns {
  position: relative;
  left: 40%;
  width: 50%;
  height: 40px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.popup-report .close-btn,
.cancelR-btn {
  /* position: relative; */
  /* right: 1%; */
  font-size: 16px;
  color: var(--red);
  /* cursor: pointer;
  padding: 5px 15px;
  border-radius: 6px;
  color: #000;
  border: none;
  background: var(--red); */
  margin-left: 15px;

  position: absolute;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: #ffffff;
  padding: 1% 3.8%;
  /* left: 57%; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-weight: bolder;
  /* margin: 2% 1%; */

  box-shadow: 2px 2px 11px -5px var(--color-default);
}

.popup-report .cancelR-btn {
  right: 29%;
  color: var(--blue);
}

.cancelR-btn:hover,
.close-btn:hover {
  text-decoration: underline;
}

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,0.5);
  pointer-events: none;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.popup-view h2{
  text-align: center;
  padding-top: 1%;
  /* margin: 20px; */
}

.popup-view .sizeChart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
}

.popup-view .sizeChart span{
  margin-left: 0;
}

.popup-view .size{
  margin-left: 20%;
}

.close-icon a {
  padding-top: 1%;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 0%;
  position: absolute;
  left: 96%;
  cursor: pointer;
  color: #ff000092;
  font-size: 26px;
  text-decoration: none;
}

.status {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: pop;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 5%;
}

.status ul {
  display: flex;
  margin-top: 80px;
}

.status ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status ul li iconify-icon {
  font-size: 35px;
  color: #fff;
  margin: -60px 60px;
  z-index: 1;
}

.status ul li .text {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
}

/* Progress Div Css  */


.status ul li .progress {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #191919;
  margin: 14px 0;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;

}

.status ul li .one,
.status ul li .active{
  background-color: green;
}

.progress::after {
  content: " ";
  position: absolute;
  width: 125px;
  height: 5px;
  background-color: #191919;
  right: 30px;
}

.active::after{
  background-color: green;
}

.one::after {
  width: 0;
  height: 0;
}

.status ul li .progress .uil {
  display: none;
  background-color: #191919;
}

.status ul li .progress p {
  font-size: 13px;
}

/* Active Css  */



/* ul li .active{
  background-color: green;
  display: grid;
  place-items: center;
}
li .active::after{
  background-color: green;
}
ul li .active p{
  display: none;
}
ul li .active .uil{
  font-size: 20px;
  display: flex;
} */

/* Responsive Css  */

@media (max-width: 980px) {
  .pb{
    left: 0;
    top: 2%;
  }
  
  .status{
    margin-top: 0%;
  }

  .status ul {
    flex-direction: column;
  }

  .status ul li {
    flex-direction: row;
  }

  .status ul li .progress {
    margin: 0 30px;
  }

  .progress::after {
    width: 5px;
    height: 55px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .one::after {
    height: 0;
  }

  .status ul li .icon {
    margin: 15px 0;
  }
}

/* .container1 {
  width: 100%;
  background: #ffffff;
  padding: 32px 13px;
  border-radius: 15px;
  margin-left: 1%;
  overflow: hidden;
} */

.container1 .emptitle {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container1 .emptitle::before {
  content: "";
  position: absolute;
  left: 285px;
  bottom: 11px;
  height: 4px;
  width: 50px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

/* student form details  */

form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 19px -2px 12px 38px;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
  overflow: hidden;
}

form .user-details .input-box .addr {
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box .size {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 8%;
  width: 20%;
}

.input-box.location {
  margin-top: -242px;
}

form .sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button.pay {
  position: relative;
  width: 48px;
  height: 31px;
  top: -38px;
  right: -239px;
  background: #50cf3ef7;
  border: lightgreen;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

button.pay:hover {
  background: #3bec24;
  transform: scale(1.1);
}

.user-details .input-box input,
select {
  width: 80%;
  height: 45px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 15px;
  transition: all 0.3s ease-in;
  border-bottom-width: 2px;
}

.popup-view .pb{
  position: absolute;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  padding: 0.5% 1%;
  margin-left: 60%;
  bottom: 2.6%;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  font-weight: bolder;
  /* margin: 2% 1%; */

  box-shadow: 2px 2px 11px -5px var(--color-default);
}

.popup-view .update-btn {
  /* right: 20%; */
  color: var(--blue);
}

.popup-view .update-btn:hover {
  text-decoration: underline;
}

.popup-view .cancel-btn {
  right: 6%;
  color: var(--red);
}

.popup-view .cancel-btn:hover {
  text-decoration: underline;
}

/* @media screen and (max-width: 950px) {
  .btn,
  .desc,
  .cost{
    visibility: hidden;
    empty-cells: hide;
  }
}

@media screen and (min-width: 950px) {
  .btn{
    float: left;
    right: 5%;
    overflow: hidden;
    
  }
} */
